.autocomplete__container {
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    width: 85px;
    transition: width .3s cubic-bezier(1,.01,.84,.23) .9s;
}

.autocomplete-width {
    width: 400px;
}