.input__container {
    display: flex;
    align-items: center;
    color: #fff;
    background: #fff;
    border-radius: 50px;
    justify-content: flex-end;

    input[type="text"] {
        border: none;
        outline: none;
        font-size: 24px;
        margin-left: 20px;
        opacity: 0;
        display: none;

        &.display-input {
            display: block;
        }

        &.input-opacity {
            animation: showInput .4s ease-in-out forwards;
        }
        
        &::placeholder {
            color: #bab8c0;
            transform: translateY(100%);
        }
    }
}

.icon {
    padding: 20px;
    color: #fff;
}

@keyframes showInput {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}